* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bố cục 2 phần */
.register {
    display: flex; /* Sử dụng Flexbox */
    height: 100vh; /* Chiều cao toàn màn hình */
}
.benphai, .bentrai {
    flex: 1; /* Chia đều 2 cột */
    padding: 20px;
    text-align: center;
}
/* Form đăng ký */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

/* Nhóm nút */
.button-group {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group{
    display: flex;           /* Bố cục hàng ngang */
    justify-content: space-between; /* Phân bố khoảng cách đều */
    gap: 10px;               /* Khoảng cách giữa các nút */
}
.input-group input {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* .button-group button {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6c63ff;
    color: #fff;
    transition: background-color 0.3s;
    margin: 15px;
} */
button{ 
    padding: 15px; 
    width: 80%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    transition: background-color 0.3s;
    gap: 20px;   
}
/* hiệu ứng khi focus chuột vào  */
.button-group button:hover {
    background-color: #6c63ff;
}

/* Phần hình */
.benphai {
    flex: 1;
    background-color: #e0e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benphai img {
    width: 80%;
    max-width: 400px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    margin-left: 20px;
    padding: 10px;
    width: 300px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column; /* Sắp xếp label và input theo chiều dọc */
}

label {
    font-size: 18px;
    margin-left: -150px;
    margin-bottom: 5px; /* Khoảng cách giữa label và input */
    color: #333;
    font-weight: bold; /* Làm đậm chữ */
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    width: 100%;
}

input::placeholder {
    color: #ccc; /* Màu placeholder  */
    font-size: 14px;
}

input:focus {
    border-color: #007bff; /* Màu viền khi focus */
    outline: none;
}
